<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:fragment="head">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="cache-control" content="no-cache"/>

  <title>FICKS(プロトタイプ): FSL Intranet Community Knowledge management System</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>
  <link rel="stylesheet" href="/css/lib/pnotify.custom.min.css" th:href="@{/css/lib/pnotify.custom.min.css}"/>
  <link rel="shortcut icon" href="favicon.ico" th:href="@{/favicon.ico}"/>
  <link rel="stylesheet" href="/css/screen.css" th:href="@{/css/screen.css?20150626a}"/>

  <!--[if lt IE 9]>
  <script src="/js/lib/html5shiv.min.js"></script>
  <script src="/js/lib/respond.min.js"></script>
  <![endif]-->
</head>
</html>