<!DOCTYPE HTML>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/head :: head"></head>
<body>

<nav th:include="common/header :: header"></nav>

<div class="container">
  <form id="add" th:action="@{/admin/documents/add}" th:object="${document}"
      method="post" enctype="multipart/form-data" class="form-horizontal">
    <div th:if="${#fields.hasErrors('all')}" class="alert alert-warning">
      <span th:text="#{common.error}">ErrorMessage</span><!--
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      -->
    </div>
    <div th:if="${appMessages != 'null'}" class="alert alert-success">
      <ul>
        <li th:each="m : ${appMessages}" th:text="#{#m}">Message</li>
      </ul>
    </div>
    <div class="form-group">
      <label class="col col-xs-12 col-sm-3 col-md-3 control-label">種類別<b>*</b></label>
      <div class="col col-sm-9 col-md-9 btn-group">
        <label class="col-sm-2 btn btn-category-A"><input type="radio" th:field="*{category}" th:value="A"/> 提案資料</label>
        <label class="col-sm-2 btn btn-category-B"><input type="radio" th:field="*{category}" th:value="B"/> 技術資料</label>
        <label class="col-sm-2 btn btn-category-C"><input type="radio" th:field="*{category}" th:value="C"/> 設定資料</label>
        <label class="col-sm-2 btn btn-category-D"><input type="radio" th:field="*{category}" th:value="D"/> 手順資料</label>
        <label class="col-sm-2 btn btn-category-E"><input type="radio" th:field="*{category}" th:value="E"/> 業務関連</label>
      </div>
      <p class="help-block error-text" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></p>
    </div>

    <div class="form-group">
      <label for="search_area" class="col col-xs-12 col-sm-3 col-md-3 control-label">分野<b>*</b></label>
      <div class="col col-xs-10 col-sm-3 col-md-3">
        <select id="search_area" th:field="*{area}" class="form-control input-sm">
          <option th:each="a : ${areaList}" th:value="${a.id}" th:text="${a.name}"></option>
        </select>
      </div>
      <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
      <div class="col col-xs-10 col-sm-3 col-md-3">
        <p class="help-block error-text" th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></p>
      </div>
    </div>

    <div class="form-group">
      <label for="search_purpose" class="col col-xs-12 col-sm-3 col-md-3 control-label">ドキュメント種類<b>*</b></label>
      <div class="col col-xs-10 col-sm-3 col-md-3">
        <select id="search_purpose" th:field="*{purpose}" class="form-control input-sm">
          <option th:each="p : ${purposeList}" th:value="${p.id}" th:text="${p.name}"></option>
        </select>
      </div>
      <div class="col col-xs-10 col-sm-3 col-md-3">
        <p class="help-block error-text" th:if="${#fields.hasErrors('purpose')}" th:errors="*{purpose}"></p>
      </div>
      <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
    </div>

    <div class="form-group">
      <label for="search_customer" class="col col-xs-12 col-sm-3 col-md-3 control-label">顧客名</label>
      <div class="col col-xs-10 col-sm-6 col-md-6">
        <input type="text" id="search_customer" th:field="*{customerName}" class="form-control input-sm"/>
      </div>
      <div class="col col-xs-10 col-sm-3 col-md-3">
        <p class="help-block error-text" th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"></p>
      </div>
      <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
    </div>

    <div class="form-group">
      <label for="search_author" class="col col-xs-12 col-sm-3 col-md-3 control-label">担当者</label>
      <div class="col col-xs-10 col-sm-3 col-md-3">
        <input type="text" id="search_author" th:field="*{authorName}" class="form-control input-sm"/>
      </div>
      <div class="col col-xs-10 col-sm-3 col-md-3">
        <p class="help-block error-text" th:if="${#fields.hasErrors('authorName')}" th:errors="*{authorName}"></p>
      </div>
      <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
    </div>

    <div class="form-group">
      <label for="search_result" class="col col-xs-12 col-sm-3 col-md-3 control-label">成否<b>*</b></label>
      <div class="col col-xs-10 col-sm-3 col-md-3">
        <select id="search_result" th:field="*{result}" class="form-control input-sm">
          <option th:each="r : ${resultList}" th:value="${r.id}" th:text="${r.name}"></option>
        </select>
      </div>
      <div class="col col-xs-10 col-sm-3 col-md-3">
        <p class="help-block error-text" th:if="${#fields.hasErrors('result')}" th:errors="*{result}"></p>
      </div>
      <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
    </div>

    <div class="form-group">
      <label for="search_reason" class="col col-xs-12 col-sm-3 col-md-3 control-label">成否要因</label>
      <div class="col col-xs-10 col-sm-3 col-md-3">
        <select id="search_reason" th:field="*{reason}" class="form-control input-sm">
          <option value=""></option>
          <option th:each="r : ${reasonList}" th:value="${r.id}" th:text="${r.name}"></option>
        </select>
      </div>
      <div class="col col-xs-10 col-sm-3 col-md-3">
        <p class="help-block error-text" th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}"></p>
      </div>
      <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
    </div>

    <div class="form-group">
      <label for="deptName" class="col col-xs-12 col-sm-3 col-md-3 control-label">部門名</label>
      <div class="col col-xs-10 col-sm-3 col-md-3">
        <input type="text" id="deptName" th:field="*{deptName}" class="form-control"/>
      </div>
      <div class="col col-xs-10 col-sm-3 col-md-3">
        <p class="help-block error-text" th:if="${#fields.hasErrors('deptName')}" th:errors="*{deptName}"></p>
      </div>
      <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
    </div>

    <div class="form-group">
      <label for="empNumber" class="col col-xs-12 col-sm-3 col-md-3 control-label">従業員番号</label>
      <div class="col col-xs-10 col-sm-3 col-md-3">
        <input type="text" id="empNumber" th:field="*{empNumber}" class="form-control"/>
      </div>
      <div class="col col-xs-10 col-sm-3 col-md-3">
        <p class="help-block error-text" th:if="${#fields.hasErrors('empNumber')}" th:errors="*{empNumber}"></p>
      </div>
      <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
    </div>

    <div class="form-group">
      <label for="description" class="col col-xs-12 col-sm-3 col-md-3 control-label">コメント</label>
      <div class="col col-xs-10 col-sm-9 col-md-9">
        <textarea id="description" th:field="*{description}" class="form-control"></textarea>
      </div>
      <div class="col col-xs-10 col-sm-9 col-md-9">
        <p class="help-block error-text" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
      </div>
      <div class="col-xs-offset-2 col-sm-offset-3 col-md-offset-3"></div>
    </div>

    <div class="form-group">
      <label for="publishDate" class="col col-xs-12 col-sm-3 col-md-3 control-label">発行日<b>*</b></label>
      <div class="col col-xs-10 col-sm-3 col-md-3">
        <input type="date" id="publishDate"  th:field="*{publishDate}" class="form-control"/>
      </div>
      <div class="col col-xs-10 col-sm-3 col-md-3">
        <p class="help-block error-text" th:if="${#fields.hasErrors('publishDate')}" th:errors="*{publishDate}"></p>
      </div>
      <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
    </div>

    <div class="form-group">
      <label class="col-xs-12 col col-sm-3 col-md-3 control-label">サムネイル縦横<b>*</b></label>
      <div class="col col-xs-5 col-sm-1 col-md-1">
        <label><input type="radio" th:field="*{printDirection}" th:value="Vertical"/> ヨコ</label>
      </div>
      <div class="col col-xs-5 col-sm-2 col-md-2">
        <label><input type="radio" th:field="*{printDirection}" th:value="Horizontal"/> タテ</label>
      </div>
      <p class="help-block error-text" th:if="${#fields.hasErrors('printDirection')}" th:errors="*{printDirection}"></p>
      <div class="col-xs-offset-2 col-sm-offset-6 col-md-offset-6"></div>
    </div>

    <div class="form-group">
      <label for="file" class="col col-xs-12 col-sm-3 col-md-3 control-label">ファイル<b>*</b></label>
      <div class="col col-xs-10 col-sm-8 col-md-8">
        <input type="file" id="file" name="file"/>
      </div>
      <div class="col col-xs-10 col-sm-3 col-md-3">
        <p class="help-block error-text" th:if="${#fields.hasErrors('all')}" th:text="#{NotBlank.file}"></p>
      </div>
      <div class="col-xs-offset-2 col-sm-offset-1 col-md-offset-1"></div>
    </div>

  <div class="form-group">
    <label for="file_name" class="col col-xs-12 col-sm-3 col-md-3 control-label">登録ファイル名</label>
    <div class="col col-xs-10 col-sm-6 col-md-6">
      <input type="text" id="file_name" th:field="*{fileName}" class="form-control input-sm"/>
    </div>
    <div class="col col-xs-10 col-sm-3 col-md-3">
      <p class="help-block error-text" th:if="${#fields.hasErrors('fileName')}" th:errors="*{fileName}"></p>
    </div>
    <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
  </div>
<!--
      <div class="form-group">
        <label for="revision" class="col col-xs-12 col-sm-3 col-md-3 control-label">リビジョン</label>
        <div class="col col-xs-10 col-sm-1 col-md-1">
          <input type="text" id="revision" th:field="*{revision}" class="form-control"/>
        </div>
        <div class="col col-xs-10 col-sm-3 col-md-3">
          <p class="help-block error-text" th:if="${#fields.hasErrors('revision')}" th:errors="*{revision}"></p>
        </div>
        <div class="col-xs-offset-2 col-sm-offset-11 col-md-offset-11"></div>
      </div>
-->
    <div class="form-group">
      <div class="col col-xs-9 col-xs-offset-3 col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">
        <button type="submit" class="btn btn-primary btn-lg">登録</button>
      </div>
    </div>
  </form>
</div>
<div th:include="common/script-lib :: script-lib"></div>
<script>
$(function() {
  $('#publishDate').datepicker({
    format: 'yyyy/mm/dd',
    language: 'ja'
  });
});
</script>
</body>
</html>