<!DOCTYPE HTML>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="cache-control" content="no-cache"/>

  <title>FICKS(プロトタイプ): FSL Intranet Community Knowledge management System</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"       th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>
  <link rel="stylesheet" href="/css/screen.css?c"            th:href="@{/css/screen.css?b}"/>
  <link rel="shortcut icon" href="favicon.ico"               th:href="@{/favicon.ico}"/>

  <!--[if lt IE 9]>
  <script src="/js/lib/html5shiv.min.js"></script>
  <script src="/js/lib/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/documents" class="navbar-brand"><img src="/img/logo-mid.png" alt="FICKS:"/></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <h1 class="navbar-text"> <b>F</b>SL <b>I</b>ntranet <b>C</b>ommunity <b>K</b>nowledge management <b>S</b>ystem (プロトタイプ)</h1>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/documents" class="glyphicon glyphicon-home" aria-hidden="true"> HOME</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th>コード</th>
        <th>ファイル</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="d : ${documents}">
        <td><a href="#" th:href="@{/admin/documents/} + ${d.code} + '/update'" th:text="${d.code}"></a></td>
        <td>
          <span th:if="${d.indexed}" class="glyphicon glyphicon-ok"></span>
          <span th:if="${not d.indexed}" class="glyphicon glyphicon-plus"></span>
          &nbsp;<span th:text="${d.fileName}"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="footer" class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <a th:href="@{/admin/documents/add}" class="btn btn-info btn-lg">新規登録...</a>
  </div>
</div>

</body>
</html>