<!DOCTYPE HTML>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/head :: head"></head>
<body>

<nav th:include="common/header :: header"></nav>

<div class="container">
  <div th:if="#{$appStatus == 'success'}" class="alert alert-success" th:text="${appStatus}">hogehoge
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>コード</th>
        <th>ファイル</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="d : ${documents}" th:attrappend="class=${'disabled-' + d.disabled}">
        <td><a href="#" th:href="@{/admin/documents/} + ${d.code} + '/update'" th:text="${d.code}"></a></td>
        <td>
          <span th:if="${d.indexed}" class="glyphicon glyphicon-ok"></span>
          <span th:if="${not d.indexed}" class="glyphicon glyphicon-plus"></span>
          &nbsp;<span th:text="${d.fileName}"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="footer" class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <a th:href="@{/admin/documents/add}" class="btn btn-info btn-lg">新規登録...</a>
  </div>
</div>

</body>
</html>