<!DOCTYPE HTML>
<html lang="ja" xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="common/head :: head"></head>
<body>
<nav th:include="common/header :: header"></nav>
<div class="container">
  <div th:include="documents/layout-home-tab :: layout-home"
       th:if="${mode=='new'}"></div>
  <div th:include="documents/layout-search :: layout-search"
       th:if="${mode=='search'}"></div>
</div>
<div th:include="common/footer :: footer"></div>
<div th:include="common/script-lib :: script-lib"></div>
<script th:src="@{/js/search_form.js?20150730g}"></script>
</body>
</html>
