<!DOCTYPE HTML>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/head :: head"></head>
<body>
<nav th:include="common/header :: header"></nav>
<div class="container">
  <div class="row" id="eggif" style="display:none">
    <div class="col-sm-3">
  <form class="form-signin" method="post" th:action="@{/login}">
    <div th:if="${param.error}" class="alert alert-danger">
      社員番号が無効です
    </div>

    <p class="form-group">
      <label class="control-label" for="empNumber">社員番号</label>
      <input type="text" class="form-control" id="empNumber" name="empNumber" required="required" autofocus="autofocus"/>
    </p>

    <!--
    <input type="password" class="form-control" name="password" required="required"/>
    -->
    <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
  </form>
    </div>
  </div>
</div>
<script th:src="@{/js/lib/jquery-1.11.2.min.js}"></script>
<script th:src="@{/js/lib/egg.min.js}"></script>
<script>
var egg = new Egg();
egg.addCode("up,up,down,down,left,right,left,right,b,a", function() {
  $('#eggif').show();
}).listen();
</script>
</body>
</html>
