<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:fragment="facet-menu">
<ul id="area-facet" class="list-group " th:if="${areaFacet != null}">
  <li class="list-group-item"><b>分野</b></li>
  <li class="list-group-item" th:each="entry : ${areaFacet.content}">
    <a href="javascript:void()"
       th:attr="data-facet-value=${entry.value}"
       th:text="${areasForString[entry.value]}"></a>
    <span th:text="${entry.valueCount}" class="badge"></span>
  </li>
</ul>

<ul id="purpose-facet" class="list-group " th:if="${purposeFacet != null}">
  <li class="list-group-item"><b>ドキュメント種類</b></li>
  <li class="list-group-item" th:each="entry : ${purposeFacet.content}">
    <a href="javascript:void()"
       th:attr="data-facet-value=${entry.value}"
       th:text="${purposesForString[entry.value]}"></a>
    <span th:text="${entry.valueCount}" class="badge"></span>
  </li>
</ul>
</html>
