<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:fragment="layout-search">
<div th:include="documents/search-form :: search-form" class="row small">
</div>
<hr/>
<div class="row">
  <div id="facet-link" class="col-sm-2 hidden-xs">
    <!--
    -->
    <div th:include="documents/facet-menu :: facet-menu"></div>
    <div th:include="common/link-menu :: link-menu"></div>
  </div>

  <div class="col-sm-10 col-xs-12">
    <div th:include="documents/pager :: pager"></div>
    <ul id="documents" class="list-group">
      <li class="list-group-item row" th:each="doc : ${list.content}">
        <div th:include="documents/list-item :: list-item"></div>
      </li>
    </ul>
    <div th:include="documents/pager :: pager"
         th:if="${list.totalElements > 10}"></div>
  </div>
</div>
</html>