<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:fragment="search-form">
<form id="search" action="#" th:action="@{/documents/search}" th:object="${documentSearchCommand}" method="GET">
  <input id="page" name="page" type="hidden" th:value="${list.number}"/>

  <div id="categories" class="row container">
    <div class="col-sm-8 row btn-group">
      <label class="col-sm-2 btn btn-category-A"><input type="checkbox" th:field="*{category}" value="A"/> 提案資料</label>
      <label class="col-sm-2 btn btn-category-B"><input type="checkbox" th:field="*{category}" value="B"/> 技術資料</label>
      <label class="col-sm-2 btn btn-category-C"><input type="checkbox" th:field="*{category}" value="C"/> 設定資料</label>
      <label class="col-sm-2 btn btn-category-D"><input type="checkbox" th:field="*{category}" value="D"/> 手順資料</label>
      <label class="col-sm-2 btn btn-category-E"><input type="checkbox" th:field="*{category}" value="E"/> 業務関連</label>
    </div>
  </div>

  <div class="row">
    <p class="col-sm-2 form-group">
      <label class="control-label" for="search_area">分野</label>
      <select id="search_area" th:field="*{area}" class="form-control input-sm">
        <option value="*">&nbsp;</option>
        <option th:each="a : ${areaList}" th:value="${a.id}" th:text="${a.name}"></option>
      </select>
    </p>
    <p class="col-sm-2 form-group">
      <label class="control-label" for="search_purpose">ドキュメント種類</label>
      <select id="search_purpose" th:field="*{purpose}" class="form-control input-sm">
        <option value="*">&nbsp;</option>
        <option th:each="p : ${purposeList}" th:value="${p.id}" th:text="${p.name}"></option>
      </select>
    </p>
    <p class="col-sm-3 form-group">
      <label class="control-label" for="search_customer">顧客名</label>
      <input type="text" id="search_customer" th:field="*{customer}" class="form-control input-sm"/>
    </p>
    <p class="col-sm-2 form-group">
      <label class="control-label" for="search_author">担当者</label>
      <input type="text" id="search_author" th:field="*{author}" class="form-control input-sm"/>
    </p>
    <p class="col-sm-1 form-group">
      <label class="control-label" for="search_result">成否</label>
      <select id="search_result" th:field="*{result}" class="form-control input-sm">
        <option value="*">&nbsp;</option>
        <option th:each="r : ${resultList}" th:value="${r.id}" th:text="${r.name}"></option>
      </select>
    </p>
    <p class="col-sm-2 form-group">
      <label class="control-label" for="search_reason">成否要因</label>
      <select id="search_reason" th:field="*{reason}" class="form-control input-sm">
        <option value="*"></option>
        <option th:each="r : ${reasonList}" th:value="${r.id}" th:text="${r.name}"></option>
      </select>
    </p>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label" for="search_published_to">発行日または期間</label>

        <div class="input-group">
          <input type="text" id="search_published_from" th:field="*{publishedFrom}" class="form-control"/>
          <span class="input-group-addon">～</span>
          <input type="text" id="search_published_to" th:field="*{publishedTo}" class="form-control"/>
        </div>

      </div>
    </div>

    <p class="col-sm-5 form-group">
      <label class="control-label" for="search_keyword">キーワード</label>
      <input type="search" id="search_keyword" th:field="*{keyword}"
             class="form-control" autofocus="autofocus"
             autocomplete="on" list="keywords"/>
    </p>
    <datalist id="keywords">
      <option th:each="k : ${recentSearchKeywords}" th:value="${k}"/>
    </datalist>

    <p class="col-sm-2 form-group">
      <label class="control-label">&nbsp;</label>
      <button type="submit" id="searchButton" class="form-control btn btn-primary">検索</button>
    </p>

    <p class="col-sm-1 form-group">
      <label class="control-label">&nbsp;</label>
      <button type="button" id="clearButton" class="form-control btn">クリア</button>
    </p>
  </div>

</form>
</html>